tidyup
use nix
layout rust

export ENVNAME=rust
export CARGO_HOME="/env/cargo"
export PATH="$PWD/target/release:$PATH"
# export PATH="$PWD/target/debug:$PATH"



export_alias build 'cd $(git rev-parse --show-toplevel) && cargo build --release'
export_alias run '$(git rev-parse --show-toplevel)/target/release/$(basename $(git rev-parse --show-toplevel)) $@'


export_alias binsize 'filei=$(git rev-parse --show-toplevel)/target/release/$(basename $(git rev-parse --show-toplevel)); [[ -f $filei ]] && du -h $filei | cut -f1'
