tidyup
use nix
layout rust

export ENVNAME=rust
export CARGO_HOME="/env/cargo"

# export PATH="$PWD/target/debug:$PATH"

export_alias debug "cargo build && target/debug/$(basename $(git rev-parse --show-toplevel))"
export_alias release "cargo build --release && target/release/$(basename $(git rev-parse --show-toplevel))"

export_alias run 'cd $(git rev-parse --show-toplevel) && cargo build'
