tidyup
use nix
layout rust

export ENVNAME=rust
export CARGO_HOME="/env/cargo"

# export PATH="$PWD/target/debug:$PATH"


export_alias build 'cd $(git rev-parse --show-toplevel) && cargo build --release'
export_alias run 'target/release/$(basename $(git rev-parse --show-toplevel)) $@'
